body{
    min-width: 1200px;
    font-family: 'Arial';
    font-style: normal;
}
.wrapper{
    min-height: 100vh;
    overflow: hidden;
    display: flex;/*для всіє сторінки технологія флекс*/
    flex-direction: column;
}
.container{
    width: 1200px; /*ширина контенту*/
    margin: 0 auto;     
} 
.content{
    flex:  1 1 auto;/*прижимаємо футер донизу*/
}
.logo_row{
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
}
.logo_icon_row{
    display: flex;
}
.logo_icon{
    margin: 0 5px 0 0;
}
.icon_item{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background: #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon_image img{
    width: 40px; 
    height: 40px;
}
.logo_title{
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #000000;
}
.logo_search{
    display: flex;
}
.search_bar{
    margin: 0 -30px 0 0px;
}
.bar_text{
    width: 300px;
    height: 60px;
    background: linear-gradient(270deg, #d6d6d6 0%, rgba(196, 196, 196, 0) 128.38%);
    border-radius: 50px;
    border:none;
    outline: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px; 
    color: #848181;
    padding: 0 20px;
}
.search_icon{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background: #3A8F02;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.search_icon:hover{
    box-shadow: 0 0 10px #344f22;
}
.icon_image img{
    width: 40px;
    height: 40px;
}

.navigation{
    background: #3A8F02;
    height: 50px;
    display: flex;
    align-items: center;
}
.navigation_row{
    display: flex;
    padding: 0 150px;
    justify-content: space-between;
}
.navigation_row a:hover{
    color: #FFF500;
}
.navigation_text{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 0.2em;
    text-decoration: none;
}

.header{
    background: url(grasscut.jpg) no-repeat;
    background-size: 100%;
    height: 500px;
}
.header_row{
    padding: 165px 0 0 0;
    max-width: 550px;

}
.header_text{
    display: flex;
    flex-direction: column; 
}
.header_text1{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px; 
    text-transform: uppercase;  
    color: #FFF500;  
}
.header_text2{
    font-weight: 700;
    font-size: 80px;
    line-height: 94px;  
    color: #FFFFFF;
}
.header_text3{
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}
.header_btn{
    width: 150px;
    height: 40px;
    background: #3A8F02;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 0 0;
    text-decoration: none;
    position: relative;
    top: 0;
}
.header_btn:hover{
    top: 3px;
}
.header_btn_text{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.services{
    margin: 30px 0;
}
.services_row{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}
.services_column{
    display: flex;
    width: 220px;
    height: 320px;
    background: #FFFFFF;
    box-shadow: 1px 0px 8px 8px rgba(211, 209, 209, 0.25);
    padding: 15px 10px 25px 10px;
}
.services_column:hover{
    box-shadow: 1px 0px 10px 10px rgba(185, 183, 183, 0.579);
}
.services_item{
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}
.services_icon{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.services_image img{
    width: 50px;
    height: 50px;
}
.services_label{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
}
.services_text{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #686666;
}
.services_body{
    width: 270px;  
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    padding: 0 0 10px 0;
}
.services_body_subtitle{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;   
    color: #3A8F02;
}
.services_body_title{
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    color: #000000;
}
.services_body_text{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #686666;
}
.services_body_btn{
    width: 135px;
    height: 60px;    
    background: #3A8F02;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: relative;
    top: 0;
}
.services_body_btn:hover{
    top: 3px;
}
.services_body_btn_text{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.welcome{
    height: 700px;
    background: #F5F3F3;
    margin: 50px 0;
}
.welcome_row{
    display: flex;
    justify-content: space-between;
}
.welcome_image{
    margin: 0 -40px 0 0px;/*для розміщення плей*/
}
.welcome_image img{
    width: 480px;
    height: 700px;
}
.welcome_play{
    display: flex;
    align-items: center;
    padding: 0 40px 0 0px;
}
.welcome_icon{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background: #3A8F02;
    display: flex;
    align-items: center;
    justify-content: center;
}
.welcome_icon:hover{
    box-shadow: 0 0 10px #344f22;
}
.welcome_icon_image img{
    width: 30px;
    height: 30px;
}
.welcome_body{
    display: flex;
    flex-direction: column;
    padding: 30px 0;
}
.welcome_subtitle{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #3A8F02;
    margin: 0 0 10px 0;
}
.welcome_title{
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;  
    color: #000000; 
    width: 360px; 
    margin: 0 0 20px 0;  
}
.welcome_label{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #686666;  
    margin: 0 0 15px 0;  
}
.welcome_columns_row{
    display: flex;
    flex-direction: column;
}
.welcome_column{
    display: flex;
    margin: 0 0 20px 0;
    position: relative;
    left:0;
}
.welcome_column:hover{
    left:5px;
}
.welcome_column_item{
    width: 510px;
    height: 70px; 
    background: #FFFFFF;
    display: flex;
    align-items: center;
    margin: 0 -35px 0 0px;
    box-shadow: 1px 0px 8px 8px rgba(211, 209, 209, 0.25);
}
.welcome_column_text{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    padding: 0 20px;
}
.welcome_column_arrow{
   width: 70px;
   height: 70px; 
   display: flex;
   align-items: center;
   justify-content: center;
}
.welcome_column_icon{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background: #3A8F02;
    display: flex;
    align-items: center;
    justify-content: center;
}
.welcome_column_icon:hover{
    box-shadow: 0 0 10px #344f22;
}
.welcome_column_image img{
    width: 30px;
    height: 30px;
}

.season_row{
    display: flex;
    flex-direction: column;
}
.season_subtitle{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #3A8F02;
    text-align: center;
    margin: 50px 0 0 0;
}
.season_title{
    font-weight: 700;
    font-size: 30px;
    line-height: 34px; 
    color: #000000;
    text-align: center;
    margin: 10px 0 40px 0;
}
.season_columns{
    display: flex;
    justify-content: center;
    margin: 0px 0 15px 0;
}
.season_column{
    padding: 0 15px;
}
.season_item{
    display: flex;
    flex-direction: column;
}
.season_item_image img{
    width: 330px;
    height: 240px;
}
.item_title{
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;   
    color: #000000;
    margin: 10px 0;
    text-align: center;
}
.item_text{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #686666;
    padding: 0 15px;
}
.season_circle{
    margin: 0 auto;
    padding: 0px 0 50px 0;
}
.season_circle_row{
    display: flex;
    margin: 0 -4px;
}
.cicle_item{
    padding: 0 4px;
}
.circle{
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background: #DBD8D8;
    border: 2px solid #E5E5E5;
}

.footer{
    background: #3A8F02;
}
.footer_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 180px;
}
.footer_contact{
    display: flex;
    flex-direction: column;
}
.contact_title{
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;  
    color: #FFFFFF; 
    margin: 0 0 15px 0;  
}
.contact_text{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    width: 600px;
}
.contact_number{
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    text-align: right;
    color: #FFF500;
}